os: linux
dist: focal

addons:
  apt:
    packages: lcov
    
language: cpp

before_install:
- sudo apt-get update
- sudo apt-get install --yes libgtest-dev
- sudo apt-get install --yes gcovr
- sudo apt-get install valgrind
- sudo apt-get install python3-pip
- sudo pip install numpy


jobs:
  include:
  - stage: StressTest
    script:
      - python3 create_test_data.py
      - cmake -B build -DCMAKE_BUILD_TYPE=Debug 
      - make -C build
      - cd build
      - ./hw2


  - stage: TestCoverage
    script:
     - cmake -B build -DCMAKE_BUILD_TYPE=Debug 
     - make -C build 
     - cd build
     - curl -Os https://uploader.codecov.io/latest/linux/codecov
     - chmod +x codecov
     - ./codecov -f <(gcovr -e '.*/tests/.*' -x)

  - stage: Gtest
    script:
     - cmake -B build -DCMAKE_BUILD_TYPE=$BUILD
     - make -C build
     - cd build
     - ./test_input
     - ./test_naive_transpose
     - ./test_parallel_transpose
