os: linux
dist: focal


language: cpp

before_install:
- sudo apt-get update
- sudo apt-get install --yes libgtest-dev
- sudo apt-get install --yes gcovr
- sudo apt-get install valgrind
- sudo apt-get install python3-pip
- sudo pip install numpy



jobs:
  - stage: "Build"
    script:
      - mkdir build
      - cd build
      - cmake ..
      - make
  - stage: "StressTest"
    script:
      - python3 create_test_data.py
      - ls
      - ./hw2
      - rm test_data.txt
  - stage: "GTest"
    script:
      - ./test_input
      - ./test_naive_transpose
      - ./test_parallel_transpose
      - curl -Os https://uploader.codecov.io/latest/linux/codecov
      - chmod +x codecov
      - ./codecov -f<(gcovr -x)