os: linux
dist: focal

addons:
  apt:
    packages: lcov
    
language: cpp

before_install:
- sudo apt-get update
- sudo apt-get install --yes libgtest-dev
- sudo apt-get install --yes gcovr
- sudo apt-get install valgrind
- sudo apt-get install python3-pip
- sudo pip install numpy


jobs:
  include:
  - stage: StressTest
    script:
      - python3 create_test_data.py
      - cmake -B build -DCMAKE_BUILD_TYPE=Debug 
      - make -C build
      - cd build
      - ./hw2

  - stage: Gtest
    script:
     - cmake -B build -DCMAKE_BUILD_TYPE=$BUILD
     - make -C build
     - cd build
     - ./test_input
     - ./test_naive_transpose
     - ./test_parallel_transpose



after_success:
# Create lcov report
- lcov --capture --directory . --output-file coverage.info
- lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter system-files
- lcov --list coverage.info # debug info
# Uploading report to CodeCov
- bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"